workflows/api_caching.json
{
  "name": "Dynamic API Call Caching",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-496, -352],
      "id": "ef27f4ff-e228-46eb-ba45-5c2b92ee611f"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts",
        "options": {}
      },
      "name": "Get All Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-288, -352],
      "id": "04a9a438-e0b9-406f-8081-5806e749461d"
    },
    {
      "parameters": {
        "force": true,
        "cacheKeyFields": "id",
        "cacheDir": "/tmp/n8n-cache/dynamic-api-calls"
      },
      "name": "SmartCache",
      "type": "n8n-nodes-smartcache-local.smartCache",
      "typeVersion": 1,
      "position": [160, -336],
      "id": "49d54524-e1a0-4dff-b727-b0814f0354f4"
    },
    {
      "parameters": {
        "url": "=https://jsonplaceholder.typicode.com/posts/{{$json.id}}",
        "options": {}
      },
      "name": "Get Post Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [352, -240],
      "id": "ef452a82-efba-4794-bcad-ea46d40fa6dd"
    },
    {
      "parameters": {},
      "name": "Final Result",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [544, -336],
      "id": "1e80a65f-bd21-4a3d-acd9-ba7de0860323"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "967d140d-00c8-4e93-9f20-6ba0d68e8e96",
              "leftValue": "={{ $json.userId }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [-80, -352],
      "id": "bae5a0d2-565f-44cb-9572-d1add81f53c0",
      "name": "Posts Created by User 1"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get All Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Posts": {
      "main": [
        [
          {
            "node": "Posts Created by User 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SmartCache": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Post Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post Details": {
      "main": [
        [
          {
            "node": "SmartCache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Posts Created by User 1": {
      "main": [
        [
          {
            "node": "SmartCache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f3699e56-74d3-4a22-b9ab-a8c48289f856",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3220869e13eb48e3b75906b6c7047b653dc50ec0815ebf8e5d8a10f74072c08e"
  },
  "id": "lpjnl6TNpHfYZICG",
  "tags": []
}
