workflows/text_summarization.json
{
  "name": "Text Summarization",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-144, -256],
      "id": "7fe5ea52-a409-41f6-b0fa-6a00434995fb"
    },
    {
      "parameters": {
        "cacheKeyFields": "article",
        "ttl": 0,
        "bucket": "my-bucket",
        "cacheDir": "$smartcache/summaries"
      },
      "name": "SmartCache",
      "type": "n8n-nodes-smartcache.smartCache",
      "typeVersion": 1,
      "position": [64, -256],
      "id": "45109829-bcae-42a4-ae19-2804ceae1d91"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "GPT-5-NANO"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize this article in one short sentence: {{ $json.article }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Summarize with OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [192, -144],
      "id": "efbbd9e4-0d2f-49c9-9608-0f688ba760d4",
      "credentials": {
        "openAiApi": {
          "id": "kvDydoq2Remusm9B",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "name": "Final Result",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [464, -256],
      "id": "15bb10f1-fc62-4355-943e-d6f11c28da5f"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "article": "The James Webb Space Telescope (JWST) is a space telescope designed to conduct infrared astronomy. As the largest telescope in space, it is equipped with high-resolution and high-sensitivity instruments, allowing it to view objects too old, distant, or faint for the Hubble Space Telescope. This enables investigations across many fields of astronomy and cosmology, such as observation of the first stars and the formation of the first galaxies, and detailed atmospheric characterization of potentially habitable exoplanets. Although the Webb's mirror diameter is 2.7 times larger than that of the Hubble Space Telescope, it only produces images of comparable resolution because it observes in the infrared spectrum, of longer wavelength than the Hubble's visible spectrum. The longer the wavelength the telescope is designed to observe, the larger the information-gathering surface (mirrors in the infrared spectrum or antenna area in the millimeter and radio ranges) required for the same resolution. The Webb was launched on 25 December 2021 on an Ariane 5 rocket from Kourou, French Guiana. In January 2022 it arrived at its destination, a solar orbit near the Sun–Earth L2 Lagrange point, about 1.5 million kilometers (930,000 mi) from Earth. The telescope's first image was released to the public on 11 July 2022. The U.S. National Aeronautics and Space Administration (NASA) led Webb's design and development and partnered with two main agencies: the European Space Agency (ESA) and the Canadian Space Agency (CSA). The NASA Goddard Space Flight Center in Maryland managed telescope development, while the Space Telescope Science Institute in Baltimore on the Homewood Campus of Johns Hopkins University operates Webb. The primary contractor for the project was Northrop Grumman. The telescope is named after James E. Webb, who was the administrator of NASA from 1961 to 1968 during the Mercury, Gemini, and Apollo programs."
        }
      },
      {
        "json": {
          "article": "The Great Pyramid of Giza[a] is the largest Egyptian pyramid. It served as the tomb of pharaoh Khufu, who ruled during the Fourth Dynasty of the Old Kingdom. Built c. 2600 BC,[3] over a period of about 26 years,[4] the pyramid is the oldest of the Seven Wonders of the Ancient World, and the only wonder that has remained largely intact. It is the most famous monument of the Giza pyramid complex, which is part of the UNESCO World Heritage Site \"Memphis and its Necropolis\". It is situated at the northeastern end of the line of the three main pyramids at Giza. Initially standing at 146.6 metres (481 feet), the Great Pyramid was the world's tallest human-made structure for more than 3,800 years. Over time, most of the smooth white limestone casing was removed, which lowered the pyramid's height to the current 138.5 metres (454.4 ft); what is seen today is the underlying core structure. The base was measured to be about 230.3 metres (755.6 ft) square, giving a volume of roughly 2.6 million cubic metres (92 million cubic feet), which includes an internal hillock.[6] The dimensions of the pyramid were 280 royal cubits (146.7 m; 481.4 ft) high, a base length of 440 cubits (230.6 m; 756.4 ft), with a seked of ⁠5+1/2⁠ palms (a slope of 51°50'40\"). The Great Pyramid was built by quarrying an estimated 2.3 million large blocks, weighing 6 million tonnes in total. The majority of the stones are not uniform in size or shape, and are only roughly dressed.[7] The outside layers were bound together by mortar. Primarily local limestone from the Giza Plateau was used for its construction. Other blocks were imported by boat on the Nile: white limestone from Tura for the casing, and blocks of granite from Aswan, weighing up to 80 tonnes, for the \"King's Chamber\" structure."
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "SmartCache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SmartCache": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarize with OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with OpenAI": {
      "main": [
        [
          {
            "node": "SmartCache",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f3699e56-74d3-4a22-b9ab-a8c48289f856",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3220869e13eb48e3b75906b6c7047b653dc50ec0815ebf8e5d8a10f74072c08e"
  },
  "id": "lpjnl6TNpHfYZICG",
  "tags": []
}
